* {
    box-sizing: border-box;
}

body {
    background-color: #C7CEDB;
    font-family: "Arial Black", Gadget, sans-serif;
}

nav ul {
    height:400px; 
    width:100%;
}

nav ul {
    overflow:hidden; 
    overflow-y:scroll;
}

.header {
    padding: 5px;
    background: #41658A;
    color: black;

    font-size: 30px;
    text-align: center;

    border-radius: 5px;

    height: 160px;
}

.eventInformation {
    display: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.side {
    flex: 40%;
    height: 100%;
    background-color: #6D7993;
    padding: 20px;

    border-radius: 5px;
    margin-top: 30px;
}

.main {
    flex: 60%;
    background-color: #C7CEDB;
    padding: 20px;
    text-align: center;
}

.mainInfo {
    margin-top: -10px;
}

.mainImg {
    flex: 25%;
    bottom: 0;
}

.mainSupplemental {
    flex: 25%;
    position: relative;
}

.suppInfo {
    font-size: 20px;
    font-family: "Arial Black", Gadget, sans-serif;
    padding-left: 10%;
}

.suppRegister {
    position:relative;
}

.eventImg {
    float: left;
    bottom: 0;
    width: 25%;
    height: 100%;
    display: none;

    border: 1px solid #2E3532;
    border-radius: 5px;
}

.descript {
    float: 30%;
    font-size: 20px;
    text-align: left;

    border: 1px solid black;
    border-radius: 5px;
    padding: 8px;
}

.highlight {
    background-color: lightgreen;
}


#orderedList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#orderedList li {
    margin-top: -1px;
    padding: 10px;
    display: inline-block;
    width: 90%;

    font-size: 25px;
    color: black;
    background-color: lightblue;

    border: 1px solid lightblue;
    border-color: black;
    border-radius: 5px;

    text-align: center;
    text-decoration: none;
}

#orderedList li:hover {
    cursor: pointer;
}

input[type=text] {
    width: 40%;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    text-align: left;
    background-color: #C7CEDB;
}

img {
    position: relative;
    float: left;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

#newDisplay {
    font-family: "Arial Black", Gadget, sans-serif;
    border-radius: 5px;

    background-color: #6D7993;
}

#eventDate, #eventLocation{
    border-style: none;
    width: 500px;
    display: inline-block;
    text-align: center;
}

.direct{
    background-color: #9099A2;
    border: 1px solid #2E3532;
    color: black;
    border-radius: 5px;

    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.direct:hover {
    cursor: pointer;
}

#thisDirect {
    cursor: context-menu;
    height: 30px;
    background-color: #6D7993;
}

/* ---------- BUTTONS --------- */

#registerButton {
    width: 15%;
    padding: 12px 12px;
    margin: 8px 0;
    display: inline-block;
    text-align: center;

    border: 1px solid #2E3532;
    border-radius: 20px;

    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#registerButton:hover{
    background-color: antiquewhite;
    cursor: pointer;
}

#profileButton {
    height: 64px;
    width: 64px;
}


#dirButtons {
    margin-top: -45px;
}

#pageTitle {
    margin-top: 15px;
}

/************ Stuff for the scroll bars *********/

::-webkit-scrollbar {
    background-color: #063852;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #9E90A2;
    outline: 1px solid slategrey;
    border-radius: 5px;
}