* {
    box-sizing: border-box;
}

body {
    background-color: #9099A2;
}

nav ul {
    height:400px; 
    width:100%;
}

nav ul {
    overflow:hidden; 
    overflow-y:scroll;
}


.header {
    padding: 10px;
    text-align: center;
    background: black;
    color: white;
    font-size: 30px;
}

.eventInformation {
    display: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.side {
    flex: 40%;
    height: 100%;
    background-color: #6D7993;
    padding: 20px;
}

.main {
    flex: 60%;
    background-color: #9099A2;
    padding: 20px;
    text-align: center;
}

.mainImg {
    flex: 25%;
    bottom: 0;
}

.mainSupplemental {
    flex: 75%;
    position: relative;
}

.suppInfo {
    text-align: right;
    padding-left: 25%;
}

.suppRegister {
}

.eventImg {
    float: left;
    bottom: 0;
    width: 25%;
    height: 100%;
    display: none;
}

.descript {
    float: 30%;
    font-size: 20px;
    text-align: left;
}

.highlight {
    background-color: lightgreen;
}


#orderedList {
    list-style-type: none;
    padding: 0;
    margin: 0;

}

#orderedList li {
    background-color: lightblue;
    border: 1px solid lightblue;
    margin-top: -1px;
    
    padding: 10px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    border-color: black;
    display: inline-block;
    width: 90%;

    text-align: center;
}

#orderedList li:hover{
    background-color: #dddddd;
    color: black;
}

input[type=text] {
    width: 40%;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    text-align: left;
}

img {
    position: relative;
    float: left;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

#newDisplay {
    font-family: "Arial Black", Gadget, sans-serif;
    /* box-shadow: 0 0 1em 1em #ccc; */
}

/* ---------- BUTTONS --------- */

#registerButton {
    width: 10%;
    padding: 12px 5px;
    margin: 8px 0;
    display: inline-block;
    text-align: center;
    border: none;
}

#registerButton:hover{
    background-color: antiquewhite;
}



