/*homepage.css*/

 * {
    box-sizing: border-box;
}

h2 {
    color: black;
    background: #41658A;
    text-align: center;
    height: 40px;
    border-radius: 5px;
    font-size: 25px;
}

/*********** EVENTS **************/
.eventInformation {
    display: none;
}

#eventsList li {
    margin-top: -1px;
    padding: 10px;
    display: inline-block;
    width: 90%;

    font-size: 25px;
    color: black;
    background-color: lightblue;

    border: 1px solid lightblue;
    border-color: black;
    border-radius: 5px;

    text-align: center;
    text-decoration: none;
}

#eventsList li:hover {
    cursor: pointer;
}

/********** INTEREST ***********/
.interestInformation {
    display: none;
}

#interestsList li {
    display: block;
    border: 1px solid #404040;
    border-radius: 5px;
    padding: 15px;
    margin: 8px;

    background-color: #41658A;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;

    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


/********** CLASSES **************/
.column {
    float: left;
    width: 33.33%;
    height: 100%;

    padding: 10px;
    margin-top: 0px;

    text-align: center;
}

.header {
    height: 160px;
}


/*********** ID'S **************/

#you{
    text-align: center;
}

#goingTo{
    text-align: center;
} 

#yourGroups{
    text-align: center;
}

/**********************************/
