
/*******CSS FOR PROFILE PAGE*******/

body {
    background-color: #011A27;
}

h2 {
    color: #F0810F;
    background-color: #063852;
    text-align: center;
    height: 30px;
    border-radius: 5px;
}

hr {
	color: #063852;
}

ol li{
    font-size: 25px;
}

input[type=text] {
    border: 2px solid #404040;
    border-radius: 4px;
    color: black;
    height: 20px;
}


/************** CLASSES ************/

.column {
    float: left;
    text-align: left;
    padding: 10px;
    width: 40%;
    color: #F0810F;
    background-color: #011A27;
}

.bigRight {
	float: right;
	width: 55%;
	height: 80%;
}

.topLeft {
	height: 15%;
}

.bottomLeft {
	height: 80%;
    float: left;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.header {
    padding: 10px;
    text-align: center;
    font-size: 30px;
    background-color: #063852;
    color: #F0810F;
}

.body {
    font-family: Arial, Helvetica, sans-serif;
}

p.yourInfo {
	border: 1px double #404040;
	height: 100px;
	padding: 10px;
}

.seeMore {
	font-size: 80%;
	text-decoration: underline;
    border: none;
    float: right;
    color: #F0810F;
    background-color: #063852;
    padding: 6px;
    margin-left: 40%;
}

.seeMore:hover {
	color: #E6DF44;
	cursor: pointer;
    border: none;
}

.interestInformation {
    display: none;
}

.interestImg {
    float: left;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 20px;
    margin-top: 15px;
}

.redX {
    float: right;

    width: 48px;
    height: 64px;
    margin-right: 20px;
    margin-top: -20px;
    cursor: pointer; 
    transform: rotate(270deg);
    display: inline-block;
}

/*************** ID's **************/

#otherIntList {
    list-style-type: none;
    padding: 2px;
    height: 540px;


    overflow:hidden; 
    overflow-y:scroll;
}

#otherIntList li {
    display: inline-block;
    width: 40%;
    border: 1px solid #404040;
    border-radius: 5px;
    padding: 15px;
    margin: 5px;

    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#yourIntList {
    list-style-type: none;
    padding: 2px;
    margin: 0;
    height: 340px;

    overflow:hidden; 
    overflow-y:scroll;
}

#yourIntList li {
    display: block;
    border: 1px solid #404040;
    border-radius: 5px;
    padding: 15px;
    margin: 5px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}

#yourIntList:hover + #redX {
    display: inline-block;
}

#addButton {
    width: 120px;
    margin-left: 40%;
    font-size: 200%;

    border: 2px solid #404040;
    border-radius: 20px;
    color: #8e4600;
    background-color: #011A27;
}

#otherInput #yourInput{
    margin: 10px;
    color: #9E90A2;

}



/************ Stuff for the scroll bars *********/

::-webkit-scrollbar {
    background-color: #063852;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #9E90A2;
    outline: 1px solid slategrey;
    border-radius: 5px;
}
